html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fluid {
  width: 100%;
  margin: 5px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0px;
  text-align: center;
}
